* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

.leaderboard-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% 20% 0;
}

.app-title {
  align-self: center;

}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 90%;
  margin: 22px 0;
}

.recent-scores {
  width: 100%;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 12px;
  width: 100%;
}

form input {
  padding: 2px;
  border-radius: 3px;
}
